/*
    #######################################################################################
    #
    #    FILENAME: styles.css
    #    DATE:
    #
    #######################################################################################
*/

/*
    #######################################################################################
    # fonts
    #######################################################################################
*/

/* lato-regular - latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Lato-Regular.ttf") format("ttf");
}

/* lato-bold - latin */
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Lato-Bold.ttf") format("ttf");
}

/*
    #######################################################################################
    # variables
    #######################################################################################
*/

/*------- variables -------*/
:root {
    /* Colors: */
    --light-brown: #c29067;
    --dark-grey: #707070;
    --light-grey: #d0d0d0;

    /*spacing*/
    --h-space: 30px;
}

/*
    #######################################################################################
    # basic css structure
    #######################################################################################
*/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner_wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

/*
    #######################################################################################
    # HEADER, MAIN, FOOTER, etc.
    #######################################################################################
*/

/*
    ##############################################
    # header
    ##############################################
*/

/*
        .nav_bar {
            display: flex;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
        }
        
        #burger {
        }
        
        #logo {
        }
        
        .hero {
            background-image: url(../img/);
            background-repeat: no-repeat;
            background-size: cover;
        }
*/

/*
    ##############################################
    # main
    ##############################################
*/

/*
    ##############################################
    # footer
    ##############################################
*/

/*
    ######################################################################################
    # viewport greater 768px
    #######################################################################################
*/
@media (min-width: 768px) {
    .inner_wrapper {
    }

    /*
        ##############################################
        # header
        ##############################################
    */

    /*
        ##############################################
        # main
        ##############################################
    */

    /*
        ##############################################
        # footer
        ##############################################
    */
}

/*
    ######################################################################################
    # viewport greater 1200px
    #######################################################################################
*/
@media (min-width: 1200px) {
    .inner_wrapper {
    }

    /*
        ##############################################
        # header
        ##############################################
    */

    /*
        ##############################################
        # main
        ##############################################
    */

    /*
        ##############################################
        # footer
        ##############################################
    */
}
