html,
body {
    margin: 0;
    padding: 0;
}

html * {
    box-sizing: border-box;
}

header {
    background-image: url(static/img/pexels-klaus-nielsen-6287298_small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
}

.logo img {
    width: 100px;
    height: 50px;
}

/*
######################################################################################
# viewports greater 768px
#######################################################################################
*/
@media (min-width: 768px) {
}

/*
######################################################################################
# viewports greater 1200px
#######################################################################################
*/
@media (min-width: 1200px) {
}
