/*
#######################################################################################
# fonts
#######################################################################################
*/

/* montserrat regular */
@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
}

/* lato-bold - latin */
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header_whole {
}

.inner_wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    position: relative;
}
.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation_bar .logo {
}

#burger {
    text-decoration: none;
    border: none;
    background-color: white;
}

.hero {
    background-image: url(../img/pexels-josh-hild-2422257.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 530px;
    background-size: cover;
    padding-top: 35px;
    display: flex;
    flex-flow: column;
    justify-content: right;
}

.hero h1 {
    font-size: 35px;
    color: white;
    text-align: end;
    margin-right: 30px;
    margin-left: 30px;
}

.hero h2 {
    font-size: 18px;
    color: #47aed4;
    text-align: end;
    margin-right: 30px;
    margin-left: 30px;
}

.hero button {
    font-size: 14px;
    color: white;
    background-color: #47aed4;
    border: 10px white;
    border-radius: 40px;
    height: 44px;
    width: 194px;
    margin-right: 30px;
    margin-left: auto;
}

#blue_bar {
    background-color: #47aed4;
    width: 100%;
    height: 6px;
}

main h2 {
    margin-top: 50px;
}

.article_section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.article_section h2 {
    font-size: 18px;
    color: #47aed4;
    margin-right: 30px;
    margin-left: 30px;
}

.article_section img {
    margin-right: 30px;
    margin-left: 30px;
}

.article_section p {
    font-size: 14px;
    color: #777777;
    margin-right: 30px;
    margin-left: 30px;
}

.article_section a {
    font-size: 14px;
    color: #47aed4;
    margin-right: 30px;
    margin-left: 30px;
}
article {
    margin-bottom: 50px;
}

.grid_section {
    width: 100%;
    background: #444444 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-bottom: 50px;
}

.grid.grid_section > .inner_wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.grid_section h2 {
    font-size: 18px;
    color: #47aed4;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.grid_section p {
    font-size: 14px;
    color: #b4b4b4;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.grid_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        "big_img big_img big_img big_img"
        "small_img1 small_img1 tall_img tall_img"
        "small_img2 small_img2 tall_img tall_img";
    padding-right: 30px;
    padding-left: 30px;
}

#big-img {
    grid-area: big_img;
}

#small-img1 {
    /* Kürzere Schreibweise 
    grid-column startpunkt / Endpunkt*/
    grid-area: small_img1;
}

#small-img2 {
    grid-area: small_img2;
}
#tall-img {
    grid-area: tall_img;
}

.questions {
    margin-right: 30px;
    margin-left: 30px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.questions h2 {
    font-size: 18px;
    color: #47aed4;
}

.questions p {
    font-size: 14px;
    color: #777777;
}

.questions button {
    font-size: 14px;
    color: white;
    background-color: #47aed4;
    border: 10px white;
    border-radius: 40px;
    height: 44px;
    width: 194px;
}

.footer_whole {
    color: white;
}

.footer_flex {
    background-color: #47aed4;
    width: 100%;
    height: 257px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_flex a,
.footer_flex p {
    margin-right: 30px;
    margin-left: 30px;
}

.footer_flex img {
    filter: brightness(0) invert(1);
}

#copyright {
    background-color: #444444;
}

#copyright > .inner_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;
}

#copyright p {
    font-size: 10px;
    margin-top: 0;
}

@media (min-width: 768px) {
    .hero {
    }

    .article_section {
        flex-flow: row;
    }

    .grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
            "big_img big_img big_img small_img1 tall_img"
            "big_img big_img big_img small_img2 tall_img";
        padding-right: 30px;
        padding-left: 30px;
    }

    .footer_flex {
        flex-flow: row-reverse;
        justify-content: space-between;
    }

    #copyright > .inner_wrapper {
        justify-content: end;
    }
}

@media (min-width: 1200px) {
}
