html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header_whole {
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.navigation_bar .logo {
}

#burger {
    text-decoration: none;
    border: none;
    background-color: white;
}

.hero {
    background-image: url(../img/pexels-josh-hild-2422257.png);
    background-repeat: no-repeat;
    background-size: cove;
    width: 100%;
    height: 530px;
    background-size: cover;

    padding-top: 35px;

    display: flex;
    flex-flow: column;
    justify-content: right;
}

.hero > h1 {
    font-size: 35px;
    color: white;
    text-align: end;
    margin-right: 30px;
    margin-left: 30px;
}

.hero h2 {
    font-size: 18px;
    color: #47aed4;
    text-align: end;
    margin-right: 30px;
    margin-left: 30px;
}

.hero button {
    font-size: 14px;
    color: white;
    background-color: #47aed4;
    border: 10px white;
    border-radius: 40px;
    height: 44px;
    width: 194px;
    margin-right: 30px;
    margin-left: auto;
}

#blue_bar {
    background-color: #47aed4;
    width: 100%;
    height: 6px;
}

main h2 {
    margin-top: 50px;
}

.article_section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.article_section h2 {
    font-size: 18px;
    color: #47aed4;
    margin-right: 30px;
    margin-left: 30px;
}

.article_section img {
    margin-right: 30px;
    margin-left: 30px;
}

.article_section p {
    font-size: 14px;
    color: #777777;
    margin-right: 30px;
    margin-left: 30px;
}

.article_section a {
    font-size: 14px;
    color: #47aed4;
    margin-right: 30px;
    margin-left: 30px;
}

.grid_section {
    width: 100%;
    background: #444444 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.grid_section h2 {
    font-size: 18px;
    color: #47aed4;
    padding-right: 30px;
    padding-left: 30px;
}

.grid_section p {
    font-size: 14px;
    color: #b4b4b4;
    padding-right: 30px;
    padding-left: 30px;
}

.grid_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.grid_container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /*50% 25% 25%*/
    grid-template-rows: 135px 135px;
    padding-right: 30px;
    padding-left: 30px;
}

#big-img {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 315px;
    height: 177px;
}

#small-img1 {
    /* Kürzere Schreibweise 
    grid-column startpunkt / Endpunkt*/
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 148px;
    height: 99px;
}

#small-img2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 148px;
    height: 99px;
}
#tall-img {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    width: 152px;
    height: 211px;
}

.questions {
    margin-right: 30px;
    margin-left: 30px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.questions h2 {
    font-size: 18px;
    color: #47aed4;
}

.questions p {
    font-size: 14px;
    color: #777777;
}

.questions button {
    font-size: 14px;
    color: white;
    background-color: #47aed4;
    border: 10px white;
    border-radius: 40px;
    height: 44px;
    width: 194px;
}

.footer_whole {
    color: white;
}

.footer_flex {
    background-color: #47aed4;
    width: 100%;
    height: 257px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_flex a,
.footer_flex p {
    margin-right: 30px;
    margin-left: 30px;
}

.footer_flex img {
    filter: brightness(0) invert(1);
}

#copyright {
    background-color: #444444;
    width: 100%;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright p {
    font-size: 10px;
    margin-top: 0;
}

@media (min-width: 768px) {
    .article_section {
        flex-flow: row;
    }

    .footer_flex {
        flex-flow: row-reverse;
        justify-content: space-between;
    }

    #copyright {
        justify-content: end;
    }
}

@media (min-width: 1200px) {
}
