/*
#######################################################################################
#
#    FILENAME: styles.css
#
#######################################################################################
*/

/*
#######################################################################################
# fonts
#######################################################################################
*/

/* lato-black - latin */
@font-face {
    font-family: "Lato";
    src: url("static/fonts/Lato-Regular.ttf") format("ttf");
}

/* lato-bold - latin */
@font-face {
    font-family: "Lato";
    font-weight: bold;
    src: url("static/fonts/Lato-Bold.ttf") format("ttf");
}

/* lato-black - latin */
@font-face {
    font-family: "Lato";
    font-weight: bolder;
    src: url("static/fonts/Lato-Black.ttf") format("ttf");
}

/*
#######################################################################################
# variables
#######################################################################################
*/

/*------- variables -------*/
:root {
    /* Colors: */
    --grey: #969696;
    --light-grey: #dddddd;
    --red: #e74149;
    --h-space: 30px;
}

/*
#######################################################################################
# basic css structure
#######################################################################################
*/

/*------- html -------*/
html,
body {
    margin: 0;
    padding: 0;
}

html * {
    box-sizing: border-box;
}

body * {
    font-family: Lato;
}

/*------- #main_header -------*/
#main_header {
    background-image: url(static/img/blog-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 57% 70%;
    /* 50vh sind 50% der verfügbaren Viewport Höhe*/
    min-height: 75vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    /*------- .header_container -------*/
    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0;
        padding: 35px;
    }

    /*------- .header_container:first-child -------*/
    .header_container:first-child {
        z-index: 1;
    }

    /*------- .header_container:last-child -------*/
    .header_container:last-child {
        flex-flow: column;
        color: white;
        justify-content: space-evenly;
        align-items: start;
        flex: 1;
        h1 {
            z-index: 1;
        }
    }

    /*------- button.cta -------*/
    button.cta {
        background-color: var(--red);
        color: white;
        padding: 20px;
        font-size: 18px;
        border: none;
        border-radius: 12px;
        z-index: 1;
    }
}

/*------- main_header::before -------*/
#main_header::before {
    content: "";
    width: 100%;
    height: 75%;
    background: rgba(0, 0, 0, 0.7);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/*------- main -------*/
main {
    padding: 35px;
}

/*------- .container -------*/
.container {
    margin-right: 35px;
    margin-top: 20px;
}

/*------- .container > article -------*/
.container > article {
    margin-right: 30px;
    width: 305px;
    height: 481px;
    h3 {
        color: var(--red);
    }

    a {
        color: var(--red);
    }
}

/*------- footer -------*/
footer {
    background-color: var(--light-grey);
    height: 300px;

    .footer-index {
        display: flex;
        height: 202px;
        width: 300px;

        ul {
            display: flex;
            flex-flow: column;
            flex-shrink: 3;
            justify-content: center;
            margin-top: 70px;
            margin-left: 20px;
            line-height: 40px;

            li {
                padding-left: 10px;
            }

            li::marker {
                content: "\2023";
                font-size: 25px;
                color: var(--red);
            }

            a {
                color: black;
                text-decoration: none;
            }
        }
    }

    /*------- #copyright-notice -------*/
    #copyright-notice {
        align-items: end;
        img {
            width: 0px;
            height: 0px;
        }

        p {
            color: var(--grey);
            text-align: center;
            font-size: 10px;
            margin-bottom: 20px;
            margin-top: 50px;
        }
    }
}

/*
#######################################################################################
# viewports greater 768px
#######################################################################################
*/

@media (min-width: 768px) {
    /*------- .header_container:last-child, main and .footer-index -------*/
    .header_container:last-child,
    main,
    .footer-index {
        margin-left: 200px;
        z-index: 1;
    }

    /*------- .container -------*/
    .container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin-left: 0;
    }

    /*------- .container > article -------*/
    .container > article {
        width: 305px;
        height: 481px;
        margin-bottom: 0;
    }

    /*------- .footer -------*/
    footer {
        display: flex;
        gap: 200px;

        /*------- #copyright-notice -------*/
        #copyright-notice {
            margin-top: 35px;
            display: flex;
            flex-direction: column;

            img {
                margin-top: 50px;
                width: 172px;
                height: 33px;
            }

            p {
                margin-top: 100px;
            }
        }
    }
}

/*
#######################################################################################
# viewports greater 1200px
#######################################################################################
*/

@media (min-width: 1200px) {
    /*------- variables for > 1200px -------*/
    :root {
        --margin_left: 481px;
    }

    /*------- .header_container:first-child -------*/
    .header_container:first-child {
        margin-left: 0;
        background-color: white;
        width: 100%;
        z-index: 1;

        #logo {
            margin-left: 499px;
        }

        nav {
            margin-right: 200px;
        }
    }
    /*------- .header_container:last-child -------*/
    .header_container:last-child {
        margin-left: var(--margin_left);
        width: 552px;
        h1 {
            z-index: 1;
        }
        .cta {
            z-index: 1;
        }
    }

    /*------- main -------*/
    main {
        margin-left: var(--margin_left);
        z-index: 1;
    }

    /*------- main > .introduction -------*/
    main > .introduction {
        width: 552px;
        height: 106px;
    }

    /*------- .container -------*/
    .container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        margin-left: 0;
    }

    /*------- .container > article -------*/
    .container > article {
        width: 305px;
        height: 481px;
        margin-bottom: 0;
    }

    /*------- .footer-index -------*/
    .footer-index {
        margin-top: 35px;
        margin-left: var(--margin_left);
    }

    /*------- footer -------*/
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        #copyright-notice {
            margin-right: 481px;
            display: flex;
            flex-direction: column;

            img {
                margin-top: 35px;
                width: 172px;
                height: 33px;
            }

            p {
                margin-top: 100px;
            }
        }
    }
}
