/* header background image */
.header_whole {
    background-image: url("../img/pexels-meruyert-gonullu-6152263.jpg");
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    z-index: index 0;
}

main {
    padding: 35px;
}

.main_whole {
    margin-top: 80px;
}

.main_whole > h1 {
    font-size: 24px;
    text-align: center;
    color: var(--dark-grey);
}

main p {
    color: var(--dark-grey);
    text-align: center;
}

/*
    ######################################################################################
    # viewports greater 768px
    #######################################################################################
    */
@media (min-width: 768px) {
    .main_whole > h1 {
        font-size: 36px;
    }
}

/*
    ######################################################################################
    # viewports greater 768px
    #######################################################################################
    */
@media (min-width: 120px) {
    .main_whole > h1 {
        font-size: 48px;
    }
}
