.header_whole {
    min-height: 120px;
    z-index: index 0;
}

.main_whole {
    margin-top: 80px;
    margin-bottom: 80px;
}

.main_whole > h1 {
    font-size: 24px;
    text-align: center;
    color: var(--dark-grey);
}

.main_whole article {
    text-align: start;
    color: var(--dark-grey);
    display: none;
}

.flex_container {
    display: flex;
    justify-content: center;
}

#nachricht {
    height: 200px;
}

.forms {
    text-align: start;
    color: var(--dark-grey);
    font-weight: 700;
}

.checkbox input[type="checkbox"] {
    border: 0px;
    width: 35px;
}

.forms input {
    border: 2px solid var(--light-brown);
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    font-size: 16;
}

#submit {
    background-color: var(--light-brown);
    color: white;
    font-size: 16px;
    height: 25px;
}

.map_section {
    display: none;
}

.map_section > h1 {
    font-size: 24px;
    text-align: center;
    color: var(--dark-grey);
    margin-bottom: 100px;
}

/*
    ######################################################################################
    # viewports greater 768px
    #######################################################################################
    */
@media (min-width: 768px) {
    .main_whole {
        padding-left: 150px;
        padding-right: 150px;
    }

    .main_whole > h1 {
        font-size: 36px;
    }

    .main_whole .forms {
        font-size: 16px;
    }

    .main_whole article {
        font-size: 16px;
    }

    .flex_container {
        flex-flow: row;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }

    .main_whole article {
        text-align: start;
        color: var(--dark-grey);
        display: inline-flex;
    }

    .forms > input {
        width: 500px;
        height: 40px;
    }

    #submit {
        font-size: 24px;
        height: 50px;
    }

    .map_section > h1 {
        font-size: 36px;
    }
}

/*
        ######################################################################################
        # viewports greater 1200px
        #######################################################################################
        */
@media (min-width: 1200px) {
    .main_whole > h1 {
        font-size: 48px;
    }

    .main_whole forms {
        font-size: 24px;
    }

    .main_whole article {
        font-size: 24px;
    }

    .map_section {
        display: contents;
    }

    .map_section > h1 {
        font-size: 48px;
    }

    .map {
        width: 1144px;
        height: 759px;
        margin-left: auto;
        margin-right: auto;
    }
}
