/*
#######################################################################################
#
#    FILENAME: styles.css
#
#######################################################################################
*/

/*
#######################################################################################
# fonts
#######################################################################################
*/

/* lato-black - latin */
@font-face {
    font-family: "Josefin-sans";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/josefin-sans-v20-latin-regular.woff2");
}

/* lato-bold - latin */
@font-face {
    font-family: "Josefin-sans";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/josefin-sans-v20-latin-300.woff2");
}

/* lato-black - latin */
@font-face {
    font-family: "Josefin-sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/josefin-sans-v20-latin-700.woff2");
}
