/* header background image */
.header_whole {
    background-image: url("../img/pexels-maria-orlova-4913487.jpg");
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    z-index: index 0;
}

main {
    padding: 35px;
}

.main_whole {
    margin-top: 80px;
}

.main_whole > h1 {
    font-size: 24px;
    text-align: center;
    color: var(--dark-grey);
}

.flex_container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-bottom: 100px;

    transition: 2s;
}

.flex_items {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.flex_items article {
    width: 256px;
    margin-top: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

div .image {
    width: 256px;
    height: 256px;
    margin-top: 50px;
}

main img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    overflow: hidden;
}

main p {
    color: var(--dark-grey);
    text-align: start;
}

/*
    ######################################################################################
    # viewports greater 768px
    #######################################################################################
    */
@media (min-width: 768px) {
    .main_whole > h1 {
        font-size: 36px;
    }

    .flex_container {
        width: 700px;
        align-items: normal;
    }

    .flex_items {
        flex-flow: row;
        align-items: center;
    }

    .flex_items:last-child {
        flex-flow: row-reverse;
    }

    .flex_items article {
        width: 320px;
    }

    main p {
        font-size: 16px;
    }

    div .image {
        width: 320px;
    }

    main img {
        height: 230px;
    }
}

/*
    ######################################################################################
    # viewports greater 1200px
    #######################################################################################
    */
@media (min-width: 1200px) {
    .main_whole > h1 {
        font-size: 48px;
    }

    .flex_container {
        width: 900px;
    }

    main p {
        font-size: 24px;
    }
}
