/*
    #######################################################################################
    #
    #    FILENAME: styles.css
    #    DATE: 06.12.2023
    #
    #######################################################################################
*/

/*
    #######################################################################################
    # fonts
    #######################################################################################
*/

/* Open Sans - regular */
@font-face {
    font-family: "Open Sans";
    font-weight: 100;
    src: url("../fonts/OpenSans-Regular.ttf");
}

/* Open Sans- bold */
@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url("../fonts/OpenSans-Bold.ttf");
}

/* Open Sans- semibold */
@font-face {
    font-family: "Open Sans";
    font-weight: 200;
    src: url("../fonts/OpenSans-SemiBold.ttf");
}

/* Open Sans- extrabold */
@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

/*
    #######################################################################################
    # variables
    #######################################################################################
*/

/*------- variables -------*/
:root {
    /* Colors: */
    --yellow: #ffd43e;
    --red: #d62727;
    --dark_blue: #123441;
    --orange: #ee8e1c;
    --light_grey: #909090;
    --dark_grey: #00000029;

    /*spacing*/
    --space: 30px;
}

/*
    #######################################################################################
    # basic css structure
    #######################################################################################
*/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: "Open Sans";
}

.inner_wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.orange_bar {
    height: 10px;
    width: 100%;
    background-color: var(--orange);
}

.dark_blue_bar {
    height: 10px;
    width: 100%;
    background-color: var(--dark_blue);
}

.red_bar {
    height: 10px;
    width: 100%;
    background-color: var(--red);
}

.yellow_bar {
    height: 10px;
    width: 100%;
    background-color: var(--yellow);
}

/*
    #######################################################################################
    # HEADER, MAIN, FOOTER, etc.
    #######################################################################################
*/

/*
    ##############################################
    # header
    ##############################################
*/

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#burger {
    filter: var(--orange);
}

.burger_items {
    display: none;
}

#logo {
}

.hero {
    background-image: url(../img/pexels-flo-dahm-1643773.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 57% 70%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--space);
    padding-right: var(--space);
}

.hero > h1 {
    font-size: 50px;
    text-align: right;
    color: white;
    font-weight: 100;
}

.hero b {
    font-weight: 400;
}

/*
    ##############################################
    # main
    ##############################################
*/

main {
    padding-left: var(--space);
    padding-right: var(--space);
    padding-top: var(--space);
    padding-bottom: var(--space);
}

main > .inner_wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main img {
    border-radius: 10px;
}

article > h1 {
    color: var(--dark_blue);
    font-size: 22px;
    font-weight: 300;
}

article > p {
    color: var(--light_grey);
    font-size: 16px;
    font-weight: 200;
}

main button {
    color: white;
    background-color: var(--dark_blue);
    border-radius: 24px;
    text-decoration: none;
    border: none;
    width: 216px;
    height: 47px;
}

.mystic_container {
    display: flex;
    flex-flow: column;
}
.mystic_container > img {
    width: 315px;
}

.mystic_container > article {
    width: 315px;
    height: 350px;
}

.picture_grid {
    margin-top: var(--space);
    margin-bottom: var(--space);
    width: 315px;

    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 16px;
    grid-template-areas:
        "img1 img1 img1 img1 img1 img1 img2 img2"
        "img1 img1 img1 img1 img1 img1 img2 img2"
        "img3 img3 img3 img3 img3 img4 img4 img4"
        "img3 img3 img3 img3 img3 img4 img4 img4";
}
.img1 {
    grid-area: img1;
    width: 193px;
    height: 129px;
}
.img2 {
    grid-area: img2;
    width: 99px;
    height: 129px;
}
.img3 {
    grid-area: img3;
    width: 168px;
    height: 126px;
}
.img4 {
    grid-area: img4;
    width: 124px;
    height: 126px;
}

.tour_guide {
    margin-top: var(--space);
    margin-bottom: var(--space);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.tour_guide > img {
    width: 225px;
    height: 225px;
}

.tour_guide > article {
    width: 315px;
    height: 350px;
    text-align: center;
}

/*
    ##############################################
    # footer
    ##############################################
*/

footer {
    background-color: var(--dark_blue);
}

.footer_whole {
    padding: var(--space);
}

.footer_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.footer_item1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.email_form > p {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

footer button {
    width: 110px;
    height: 47px;
    text-align: center;
    color: var(--dark_blue);
    background-color: var(--yellow);
    border-radius: 4px;
    text-decoration: none;
    border: none;
}

input {
    width: 193px;
    height: 47px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
}

.footer_index {
    margin-top: var(--space);
    margin-bottom: var(--space);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.footer_index a {
    font-weight: 100;
    color: white;
    text-decoration: none;
}

.footer_item2 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.footer_item2 > img {
    margin-top: var(--space);
    margin-bottom: var(--space);
}

#copyright {
    font-size: 12px;
    font-weight: 100;
    margin-top: var(--space);
    margin-bottom: var(--space);
    color: white;
    text-align: center;
}

/*
    ######################################################################################
    # viewport greater 768px
    #######################################################################################
*/
@media (min-width: 1024px) {
    .inner_wrapper {
    }

    /*
        ##############################################
        # header
        ##############################################
    */

    .nav_bar {
        height: 146px;
    }

    .hero > h1 {
        font-size: 75px;
        margin-right: 150px;
    }

    /*
        ##############################################
        # main
        ##############################################
    */

    .mystic_container {
        margin-top: 100px;
        margin-bottom: 60px;
        width: 100%;
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        align-items: normal;
    }

    .mystic_container > img {
        width: 482px;
        height: 329px;

        margin-right: var(--space);
    }

    .mystic_container > article {
        width: 482px;
        height: 329px;
        margin-left: var(--space);
    }

    .picture_grid {
        width: 100%;
        display: flex;
        flex-basis: auto;
        justify-content: space-evenly;
    }

    .img1 {
        width: 291px;
        height: 194px;
    }
    .img2 {
        width: 148px;
        height: 195px;
    }
    .img3 {
        width: 260px;
        height: 194px;
    }
    .img4 {
        width: 192px;
        height: 195px;
    }

    .tour_guide > img {
        width: 300px;
        height: 300px;
    }

    .tour_guide > article {
        width: 600px;
    }

    /*
        ##############################################
        # footer
        ##############################################
    */

    .footer_whole {
        padding-left: var(--space);
        padding-right: var(--space);
    }

    .footer_container {
        flex-flow: row;
        justify-content: space-between;
    }

    .footer_item1 {
        flex-flow: column;
        justify-content: space-between;
        align-items: start;
        height: 300px;
    }

    .footer_item2 {
        flex-flow: column;
        justify-content: space-between;
        align-items: end;
        height: 300px;
    }

    .footer_index {
        width: 350px;
        flex-flow: row;
        justify-content: space-evenly;
    }
}

/*
    ######################################################################################
    # viewport greater 1200px
    #######################################################################################
*/
@media (min-width: 1920px) {
    .inner_wrapper {
    }

    /*
        ##############################################
        # header
        ##############################################
    */

    #burger {
        display: none;
    }

    .burger_items {
        display: inline;
        font-size: 20px;
        font-weight: 300;
    }

    .burger_items a {
        text-decoration: none;
        color: var(--dark_blue);
        letter-spacing: 4px;
        margin-left: 60px;
    }

    .hero > h1 {
        margin-right: 350px;
        font-size: 100px;
    }

    /*
        ##############################################
        # main
        ##############################################
    */

    .mystic_container > img {
        width: 527px;
    }

    .img1 {
        width: 345px;
        height: 230px;
    }
    .img2 {
        width: 174px;
        height: 231px;
    }
    .img3 {
        width: 306px;
        height: 230px;
    }
    .img4 {
        width: 228px;
        height: 231px;
    }

    /*
        ##############################################
        # footer
        ##############################################
    */
}
